---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Tejas More"
  description="Detail information page of Tejas More"
>
  <div
    class="flex justify-center sm:items-center sm:h-screen bg-gradient-to-br from-mint to-green"
  >
    <div class="sm:max-w-5xl md:flex">
      <div class="m-10">
        <img
          src="/images/tejasmore.jpg"
          alt="profile"
          class="rounded-full border-4 border-mint shadow-lg shadow-green-200"
        />
      </div>
      <div class="m-10 sm:max-w-xl">
        <h1 class="text-5xl text-center font-bold text-dark mb-5">
          Tejas More
        </h1>
        <p class="my-5 text-justify text-dark text-md font-medium">
          I'm a software developer and computer programmer with an avid interest
          in Data Structures and Algorithms. As a core programmer, I love taking
          challenges and being a part of the solution. Enthusiastic team player,
          a fast learner with creative problem solving skills, good coding and
          communication skills. I love building website and reading blogs. I use
          this website to write my own blogs on various topics such as
          Blockchain, Deep learning and Artificial Intelligence.
        </p>
        <div class="flex justify-center">
          <a
            href="https://tejasmore.vercel.app"
            target="_blank"
            class="px-4 py-1 bg-dark text-light rounded-[10px] mr-3"
            >Portfolio »</a
          >
          <a
            href="https://linkedin.com/in/tejxsmore"
            target="_blank"
            class="px-4 py-1 bg-dark text-light rounded-[10px]">LinkedIn »</a
          >
        </div>
      </div>
    </div>
  </div>
</MainLayout>
