---
import Link from "./Link.astro";

const { prevUrl, nextUrl } = Astro.props;
---

<nav class="flex justify-center py-10">
  {prevUrl && <Link text="Previous" href={prevUrl} />}
  {nextUrl && <Link text="Next" href={nextUrl} />}
</nav>
