---
---

<div class="flex justify-center pb-6">
  <div id="content" class="sm:flex sm:max-w-2xl">
    <div class="m-10">
      <img
        src="/images/tejasmore.jpg"
        alt="profile"
        class="rounded-full border-4 border-mint shadow-lg shadow-green-200"
      />
    </div>
    <div class="m-10 text-center items-center">
      <p class="my-6 text-dark text-md font-medium">
        Hello, I am Tejas More. I write blogs related to software engineering,
        machine learning and blockchain.
      </p>
      <div class="flex justify-center my-5">
        <a
          href="mailto:heyytejas@gmail.com"
          class="px-4 py-1 bg-dark text-light rounded-[10px]"
          >Contact Me »
        </a>
      </div>
    </div>
  </div>
</div>
