---
// Component Import
import HeadLayout from "./HeadLayout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

// Style Import
import "../styles/global.css";

const {
  title = "BLOGIFYI",
  description = "This website contains various blockchain and web development related blog posts",
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <HeadLayout {title} {description} />
  <body>
    <Navbar />
    <slot>Default text</slot>
    <Footer />
  </body>
</html>
